/*--------------  Sumindo com o scroll das páginas ---------------------*/

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{
      scrollbar-width: none;
     
    }
}
::-webkit-scrollbar{
    display: none;
}
/*--------------------------------  Fim --------------------------------*/

body{
    background-color: #fafafa;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
     
   
}

/*-------------------------  Inicio seção barra -------------------------*/

.barra-topo{   
    height: 54px;
    display: flex;    
    justify-content: center;
    border: 1px solid #DBDBDB;   
    background-color: #FFFFFF; 
    position: sticky;    
    top: 0;   
    z-index: 1;
    
}
.barra-conteudo{
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    width: 935px;    
}
.logos{     
    display: flex;         
}
.logo-instagram{
    display: none;
}
.linha-vertical{
    width: 1px;
    height: 22px;    
    background: #DBDBDB;
}
#pesquisar{
    height: 28px;
    width: 215px;
    font-size: 14px;    
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.barra-topo ion-icon{    
    font-size: 22px;
    padding-right: 8px;
    margin-left: 8px;
}
.barra-topo img{
    width: 103px;
    height: 29px;
    padding-left: 8px;
      
}

/*-------------------------  Container Principal -------------------------*/

.container-principal{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.conteudo{
    width: 935px;
    display: flex;
    justify-content: center;
    margin-top: 34px;  
    border: 0;
}


/*------------------------  Inicio seção stories ------------------------*/

.stories{
    display: flex; 
    width: 614px;
    height: 118px;    
    background: #fafafa;
    border: 1px solid #DBDBDB;    
    border-radius: 3px;
    align-items: center;
    /*overflow-x: scroll; */
    scrollbar-width: none;
    overflow: hidden;    
    position: relative;
   
   
   
}
#seta-stories{
    font-size: 26px;    
    position: absolute;
    left: 579px;
    filter: drop-shadow(3px 3px 2px rgba(0,0,0,.7));
   

}
.status{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 90px;      
    background-image: url(/img/stories_background.png);
    background-size: 102%;
    background-repeat: no-repeat;
    margin-left: 15px;
  
}
.status p{
    display: flex;
    justify-content: center;
    margin-top: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}
.stories img{   
    width: 56px;
    height: 56px;     
    border-radius: 50%;
    margin-top: 4.2px;
    margin-left: 4px;
    padding-right: 3px;
}
.stories ion-icon{  
    font-size: 26px;
    position: relative;
}
/*------------------------ Fim seção stories ------------------------*/


/*------------------------ Inicio seção posts ------------------------*/
.posts{
    width: 100%;
    height: 749px;    
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 24px;
    
}
.posts img{
    width: 100%;
    height: 612px;
}

.barra-perfil{
    display: flex;
    justify-content: space-between; 
    
}

.barra-perfil{
    width: 100%;   
    display: flex; 
    align-items: center;  
    
}
.perfil-post{
    display: flex;
    align-items: center;
    height : 61px;    
   
}
.perfil-post a{  
    font-family: Roboto; 
    font-size: 14px;
    line-height: 16px;
    color: #262626;    
    margin-left: 13px;
    text-decoration: none;
    font-weight: 500;  
    
}
.perfil-post img{
   
    width: 32px;
    height: 32px;
    border-radius: 20px;
    margin-left: 17px;
    
}
.menu-post{   
    height : 61px;     
    display: flex;
    align-items: center;
}
.menu-post img{    
    margin-right: 18px;
    width: 12px;
    height: 12px; 
}
.barra-curtidas{
    width: 100%;
    height: 76px;
    
}

#div-curtidas{
    display: flex;
    justify-content: space-between;
}
.barra-curtidas ion-icon{
    font-size: 22px;
    margin-top: 5px;
    margin-left: 17px;   
}
#bookmark-outline{    
    margin-right: 15px;
}
.barra-curtidas div{
    display: flex;
    align-items: center;
}
.barra-curtidas img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 17px;
    line-height: 40px;
}
.barra-curtidas p{
    margin-left: 5px;
    font-family: Roboto;
    font-style: normal;  
    font-weight: 300; 
    font-size: 14px;
    line-height: 40px;
}

.barra-curtidas strong{
    font-weight: 500;
}

/*------------------------ Inicio sidebar perfil ------------------------*/
.tamanho-sidebar{ 
    width: 321px;

}

.sidebar-conteudo{     
    position: fixed;
    width: 321px;

  
}

.perfil{
    display: flex;   
    flex-wrap: wrap;
}

.perfil img{    
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-top: 22px; 
    margin-left: 29px;  
}

.informacoes{  
    margin-top: 22px;
    
}

.perfil h3{
    font-family: Roboto;
    margin-top: 10px;
    margin-left: 17px;
    font-style: normal;
    font-weight: 550;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #262626;
}
.perfil h4{  
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    margin-left: 17px;
    font-size: 14px;
    font-weight: 0;
    line-height: 16px;
    color: #8E8E8E
}



#ver-tudo{
    display: flex;
    margin-top: 24px;
    margin-left: 29px;
}

#ver-tudo h6{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #8E8E8E;
     
}
#ver-tudo p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
    margin-left: 130px;
}
.sugestao{
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
    margin-left: 29px;
    width: 100%;
}

.sugestao div{
    width: 68%;
}

.sugestao img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.sugestao h4{
    margin-left: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
  
}    
.sugestao h5{
    margin-top: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}    
.sugestao p{
   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 11px;
    color: #8E8E8E;
    
} 

.copy{
    margin-top: 30px;
}
.copy p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;   
    font-size: 11px;
    line-height: 13px;  
    align-items: center;
    margin-left: 29px;
    margin-top: 18px;
    color: #C7C7C7;
}




footer{
    display: none;
    position: sticky;
    background-color:#FFFFFF;
    bottom:0;
}
.base-conteudo{   
    height: 54px;  
    display: flex;     
    align-items: center; 
    justify-content: space-between;  
    width: 100vw; 
    border-top: 1px solid #DBDBDB; 
    border-bottom: 1px solid #DBDBDB;   
    background-color: #FFFFFF; 
    position: sticky;
}
.barra-base ion-icon{    
    font-size: 20px;
    padding-right: 8px;
    margin-left: 8px;
}



/*------------------------ Inicio responsividade ------------------------*/

@media (max-width: 935px) {	  
    .tamanho-sidebar{
        display: none;
    }   
}



@media (max-width: 614px) {	
    .logo-instagram{
        display: block;
    }
    .logos img{
        display: none;
    }
    .linha-vertical{
        display: none;
    }  
    .perfil{
        display: none;
    }
    #pesquisar{
        display: none;
    }
    .ocultar-icon{
        display: none;
    }
    .conteudo{
        width: 100%; 
        margin: 0;                    
    }
    .stories{
        width: 100vw;        
        align-items: center;        
        margin: 0;
        padding: 0;        
        /*overflow-x: scroll;*/
        border: 0;    
    }
    #seta-stories{
        display: none;
    }
    .posts{        
        margin-top: 0px;
        
    }
    .posts2{
        margin-top: 60px;
    } 
    .barra-curtidas div p{   
        font-size: 12px;   
    }
    footer{
        display: block;
    }
    
    
}